
/.idea/
/ComandLineTextSearch.iml
/src/test/resources/SampleTextFile_500kb.txt
/src/test/resources/SampleTextFile_1000kb.txt
/SampleTextFile_500kb.txt
/SampleTextFile_1000kb.txt
src/main/resources/
target/ComandLineTextSearch-1.0-SNAPSHOT.jar
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/test-classes/
