
/.idea/
/ComandLineTextSearch.iml
src/main/resources/
target/ComandLineTextSearch-1.0-SNAPSHOT.jar
target/classes/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/test-classes/
